@page
@model SW.ModelApi.SampleWeb.Pages.Index1Model
@{
}
<form method="post" >
    <p>User</p>
    <p><input asp-for="UserId" />
    <p>Password</p>
    <p><input asp-for="Password" />
    <p><button type="submit">Login</button></p>
</form>
